$grad1:linear-gradient(143.3deg, #11213A 21.35%, #103061 95.03%);

@mixin big {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    text-transform: uppercase;
}
@mixin accent-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;    
}
body{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height:1.2;
    color: $main;
background-color: $light-gray;
transition:color 0.4s ease-out;
}
.btn{
    border: 2px solid $accent-additional;
    color: $accent-additional;
        width: 344px;
        text-align: center;
       
        display: inline-block;
        padding: 20px 0;
        @include accent-text();
    &:hover{
        background-color: $accent-additional;
        color: $light-gray;
    }
    &-accent{
        color: $light-gray;
        width: 344px;
        text-align: center;
        background-color: $accent-additional;
        display: inline-block;
        padding: 20px 0;
        @include accent-text();
        

    }
}

h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: $accent;
    position: relative;
    padding-bottom: 52px;
    & span{
        color: $accent-additional;
    }
    &::before{
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $accent-additional;
    }

}
h2{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
width: calc((100% / 3) * 2);
margin-bottom: 50px;
& span{
    color: $accent-additional;
}
}
h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    width: calc((100% / 3) * 2);
    position: relative;
    padding-top: 52px;
    & span{
        color: $accent-additional;
    }
    &::before{
        content: "";
        width: 50%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $accent-additional;
    }
}
section{
    padding: 100px 0;
}
.accent__text{
    @include accent-text();
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.bg-body-tertiary{
    background-color: #ffffff84 !important;
}
.navbar{
    &-brand{
        display: flex;
        gap: 20px;
        align-items: center;
       & img{
            max-width: 50px;
        } 
    } 
}
.banner{
   width: 100%;
   background-image: url('../images/main_bg.png');
   &__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 80vh;
    gap: 100px;
   }
   &__content{
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    & p{
        width: calc((100% /3) * 2);
    }
   }
   &__advantages{
    display: flex;
    gap: 20px;
    width: calc((100% / 3) * 2);
   }
}
.advantage{
    text-align: center;
    &__num{
        @include big();
        color: $accent;
    }
    &__title{
        @include accent-text();
        color: $accent;
    }
}
.about{
    background-color: $white;
    position: relative;
    &__content, &__services{
        padding-left: 25%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: start;
    }
    &__services{
        margin: 50px 0;
    }
    &__bg{
        position: absolute;
        left: 0;
        top: 0;
    }
}
.service {
    &s__wrapper{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas:
        "a b d"
        "a c c";
        & .service:first-child{
            grid-area: a;
        }
        & .service:last-child{
            grid-area: c;
        }
    }
    min-height: 300px;
    width: 100%;
    background-color: $light-gray;
    padding: 50px 20px;
}

.audit{
    &__content{
        display: flex;
        gap: 20px;
        margin-top: 50px;
    }
    &__text{
        width: 50%;
        & h3{
            margin-bottom: 50px;
        }
    }
    & .accent__text{
        color: $accent;
    }
    &__form 
    {
        width: 50%;
        padding-top: 50px;
        & form{
            display: flex;
            flex-direction: column;
            gap: 50px;
            
            & .form__input{
                width: 75%;
                position: relative;
            }
            & label{
                position: absolute;
                left: 0;
                top: -10px;
            }
            & input{
                border: none;
                &:not(:last-child){
                    line-height: 24px;
                padding: 20px 0;
                border: none;
                background-color: transparent;
                border-bottom: 1px solid $accent-additional;
                width: 100%;
                }
                
                &:focus-visible {
                    outline-offset: none;
                    outline: none;
                }
            }
        }
    }
}
.client{
    &__inner{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 20px;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        @include accent-text();
        & img{
            filter: brightness(0);
            &:hover{
                filter: none;
            }
        }
    }
}
.slick-dots{
    display: flex !important;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px 0 !important;
    & button{
        color: transparent;
        border: none;
        background-color: $light-gray;
    }
    & .slick-active button{
        background-color: $accent-additional;
    }
}

.reviews{
    background-color: $white;
    &__subtitle{
        margin-bottom: 50px;
        padding-right: 20%;
    }
    &__inner{
        padding: 0 calc((100%/12)*2);
    }
    &__item{
        display: grid !important;
        grid-template-columns:1fr 3fr;
        gap: 20px;
        padding: 20px;
        background-color: $light-gray;
    }
    &__company{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 20px;
        border-right: 1px solid $accent;
        & a{
            color: $accent;
        }
    }
}
footer{
    background: $grad1;
}
.content{
    & h2{
        margin-top: 50px;
    }
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    &__title{
        text-align: center;
        & a{
            color: $accent-additional;
            position: relative;
            z-index: 2;
        }
    }
    &__item{
        background-color: $white;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 3fr;
        gap: 10px;
        position: relative;
        &-href {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

    }
}
.case{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    position: relative;
    margin-top: -102px;
    &__info{
        padding: 100px 20px;
        background-color: $white;
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        &--wrapper{
            position: relative;
            height: 100%;
            padding: 0;
        }
    }
    &__content{
        & h3{
            padding-bottom: 50px;
        }
        & .accent__text{
            margin-bottom: 30px;
        }
    }
    &>*{
        
        padding: 100px 0;
        &>*{
        padding-bottom: 100px;
        }
        
    }
    &__result{
        
    }
}