
$white: #1A1A18;
$light-gray: #3d4349;
$accent: #0E7D98;
$accent-additional: #9DD2F0;
$main:#fff;
@import "main.scss";
.client{
    &__item{
        & img{
            filter: brightness(0) invert(1);
            &:hover{
                filter: none;
            }
        }
    }
}
.contacts__inner{
    background-color: rgb(42 42 42 / 71%);
}
#dark{
    background-color: #fff;
    background-image: url(../images/icons/sun.svg);
    background-position-x: 50px;
    filter: invert(1);
}